<div class="container" id="listagem-cursos">
  <div class="card-container">
    <div class="card-header">
      <div class="row">
        <h4 class="col-10 text-center">Tweets</h4>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Mensagem</th>
            <th>Autor</th>
            <th>Data Pulibcaçãp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of hashTags">
            <td style="display:none;">1</td>
            <td>Topem este ano</td>
            <td>Joaozinho</td>
            <td>10/10/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>