<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h2>{{title}}</h2>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button type="button" routerLink="cadastrarHashtag" class="btn nav-item nav-link active" id="nav-home-tab" routerLinkActive="active">Cadastrar Hashtag</button>
      <button type="button" routerLink="" class="btn nav-item nav-link " id="nav-profile-tab" routerLinkActive="">Listar</button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
