<div class="container" id="listagem-cursos">
  <div class="card-container">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome da Hashtag</th>
            <th class="text-center">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of hashTags">
            <td style="display:none;">{{tag._id}}</td>
            <td>{{tag.hashtag}}</td>
            <td class="text-center"><button type="button" class="btn btn-secondary" (click)="remover(tag._id)">Excluir</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>